@model HospitalInventoryManagement.Web.ViewModel.RegisterViewModel
@{
    Layout = null;
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OZEM Kayıt Ol</title>
    <link rel="shortcut icon" type="image/png" href="~/Modernize-1.0.0/src/assets/images/logos/logo.jpg" />
    <link rel="stylesheet" href="~/Modernize-1.0.0/src/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="~/Account/Login" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="~/Modernize-1.0.0/src/assets/images/logos/logo.jpg" width="180" alt="">
                                </a>
                                <h5 class="text-center"><strong>Kayıt Ol</strong></h5>
                           
                                <form asp-action="Register" method="post">
                                    <div>
                                        <label asp-for="Email" class="form-label">Email</label>
                                        <input asp-for="Email" class="form-control" placeholder="example@example.com"/>
                                    </div>
                                    <div>
                                        <label asp-for="Password" class="form-label">Şifre</label>
                                        <input asp-for="Password" class="form-control" type="password" placeholder="Şifre Giriniz..."/>
                                    </div>
                                    <div>
                                        <label asp-for="ConfirmPassword" class="form-label">Şifre Onay</label>
                                        <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Şifre Giriniz..." />
                                    </div>
                                    <div>
                                        <label asp-for="HospitalID" class="form-label">Hastane Adı</label>
                                        <select asp-for="HospitalID" asp-items="ViewBag.Hospitals" class="form-control" placeholder="Hastane Seçiniz..."></select>
                                    </div>
                                    <br />
                                    <button type="submit" class="btn btn-dark mt-2">Kayıt Ol</button> &nbsp; &nbsp;
                                    <a class="btn btn-light mt-2" href="~/Account/Login">Giriş Yap</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Modernize-1.0.0/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Modernize-1.0.0/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>