@model IEnumerable<HospitalInventoryManagement.Web.ViewModel.AdminUserViewModel>

@{
    ViewData["Title"] = "Kullanıcı Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kullanıcı Listesi</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Hastane Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.HospitalName</td>
            </tr>
        }
    </tbody>
</table>
