@model HospitalInventoryManagement.Web.ViewModel.CreateMessageViewModel
@{
    ViewData["Title"] = "Mesaj Gönder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Hata Mesajlarını Göster -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<!-- Başarılı Mesaj Gönderimi -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title fw-semibold mb-4">Mesaj Gönder</h4>
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Create" method="post">
                            <div class="form-group">
                                <label asp-for="Subject" class="form-label">Konu:</label>
                                <input asp-for="Subject" class="form-control" />
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Content" class="form-label">Mesaj İçeriği:</label>
                                <textarea asp-for="Content" class="form-control"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary m-1">Gönder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

