@model HospitalInventoryManagement.Data.Models.FollowDocument
@{
    ViewData["Title"] = "Evrak Ekle";
    Layout = "~/Areas/Document/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fw-semibold mb-4">Yeni Evrak Girişi</h1>
                <div class="card">
                    <div class="card-body">
                        <form asp-action="AddDocument" method="post">                           
                            <div class="mb-3">
                                <label asp-for="Code" class="form-label">Kod :</label>
                                <input asp-for="Code"  class="form-control">
                                <span asp-validation-for="code" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Subject" class="form-label">Konu :</label>
                                <input asp-for="Subject" class="form-control">
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="CategoryID" class="form-label">Kategori :</label>
                                <select asp-for="CategoryID" class="form-control" asp-items="new SelectList(ViewBag.Categories, " Id", "Description" )"></select>
                                <span asp-validation-for="CategoryID" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary m-1">Kaydet</button>
                            <a asp-action="Index" class="btn btn-secondary m-1">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>